p{
    /*this font is Abel */
    font-family: 'Abel', sans-serif;

}
h1, h2,h3,h4,h5,h6{
    font-family: 'Anton', sans-serif;
/*    this font is Anton */
}

/*h1{*/
/*    font-size: xxx-large;*/
/*}*/

h3{ /* used in the last section*/
    font-size: 1.4rem;
}

/*NAVBAR CSS*/
nav a {
    font-size: .75em;
    color: black;
}

.nav-background {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 59px;
    width: 100%;
    top: 37px;
    z-index: -1000;
}

nav .nav-item {
    position: relative;
    bottom: 6px;
}

/*DOT CSS*/
.dot {
    height: 210px;
    width: 210px;
    background-color: gray;
    border: .8rem solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;

}

.dotbox{
    padding: 0!important;
}

.dot p {
    font-family: Anton;
    color: white;
    font-size: 2.5rem;
    margin-top: .9rem;
    margin-left: .2rem;
}

.selected-work{
    font-size: 28px;
    /*padding: 3rem;*/
}

.featured-sub-heading{
    font-size: 1.5rem;
}

.selected-work-img {
    border: 12px solid lightgrey;
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.small-dot {
    height: 36px;
    width: 36px;
    /*padding-top: 100%;*/
    border-radius: 50%;
}

.small-dot p{
    font-family: Anton;
}

.red-circle {
    background-color: #E6563B;
}

.orange-circle {
    background-color: #EB9D3A;
}

.green-circle {
    background-color: #7CB06C;
}

.blue-circle {
    background-color: #00ABA9;
}

hr {
    display: none;
}

#security-image {
    height: calc(100% + 10px);
}

#security-row{
    margin-top: 10px;
}

.icon-img {
    width: 3rem;
    height: 3rem;
}
@media screen and (min-width: 768px) {
    .hidden {
        display: block;
    }
    .featured-sub-heading{
        font-size: 1rem;
    }
    .small-dot {

        height: 24px;
        width: 24px;
        /*padding-top: 100%;*/
        border-radius: 50%;
    }
    .small-dot-font{
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        font-size: .6rem;
    }
}

#twitter {
    color: rgb(73 160 235);
    width: 2rem;
    height: auto;
}

@media screen and (min-width: 576px) {
    .dot {
        height: 175px;
        width: 175px;
        border: .4rem solid white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .5rem;

    }

    .dot p {
        font-family: Anton;
        color: white;
        font-size: 1.2rem;
        margin-top: .9rem;
        margin-left: .2rem;
    }

}