p{
    /*this font is Abel */
    font-family: 'Abel', sans-serif;
}
h1, h2,h3,h4,h5,h6{
    font-family: 'Anton', sans-serif;
/*    this font is Anton */
}


/*NAVBAR CSS*/
nav a {
    font-size: .75em;
    color: black;
}

.nav-background {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 59px;
    width: 100%;
    top: 37px;
    z-index: -1000;
}

nav .nav-item {
    position: relative;
    bottom: 6px;
}

/*DOT CSS*/
.dot {
    height: 100px;
    width: 100px!important;
    background-color: gray;
    border: .4rem solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.dotbox{
    padding: 0!important;
}

.dot p {
    font-family: Anton;
    color: white;
    font-size: 1.2rem;
    margin-top: .9rem;
    margin-left: .2rem;
}

img {
    border: 12px solid lightgrey;
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.small-dot {
    height: 30px;
    width: 30px;
    /*padding-top: 100%;*/
    border-radius: 50%;
}

.small-dot p{
    font-family: Anton;
}

.red-circle {
    background-color: #E6563B;
}

.orange-circle {
    background-color: #EB9D3A;
}

.green-circle {
    background-color: #7CB06C;
}

.blue-circle {
    background-color: #00ABA9;
}
